# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
*.egg
.coverage*
coverage.xml
htmlcov/

# MLflow
src/mlflow/mlruns/

# Monitoring generated reports
monitoring/dagshub_data/
monitoring/reports/

# Data raw training and test files
data/raw/*.csv
data/raw/image_train/
data/raw_test/*.csv
data/raw_test/image_test/
airflow/logs/dag_id=download_pipeline/
airflow/logs/dag_id=mlops_orchestration/
airflow/logs/scheduler/2026-04-25/
airflow/logs/scheduler/2026-04-26/
airflow/logs/scheduler/2026-04-27/
airflow/logs/scheduler/latest

#reading README
README_PRODUCTION

airflow/logs/




# VSCode
.vscode/
