pandas
pytest
pytest-cov
scikit-learn
fastapi
uvicorn
joblib
numpy
bs4
langdetect
mlflow
protobuf<4
torch
torchvision
pillow
pydantic
python-multipart
pyjwt
bcrypt
pandas
structlog
python-json-logger
requests
dagshub
httpx
yaml
python-jose[cryptography]